.containerCatalog{
    width: 100%;
    display: flex;
    justify-content: center;
}
.catalog{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}


.btn{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    width:70%;
    height: 60%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}